body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: centher;
    height: 100vh;
    margin: 0;
}

.headerimg{
    width: fit-content;
    margin: auto;
    border-radius: 50%;
    background-color:#cfff32;
}

.headerimg img{
    border-radius: 50%;
}

.container {
    background-color: #308f39;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:400px;
    height: fit-content;
    margin: 20px;

}

#registrationForm{
    background-color:#fff;
    width: 100%;
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    padding:10px;
    margin-bottom: 15px;
}

.checkpassword{
    display: inline-flex;  
    border:solid #333;
}

label {
    display: block;
    font-weight: bold;
    color: #308f39;
}

input, select {
    width:95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

#password{
    width: 80%;
    margin-right: 14px;
}


button {
    width: 100%;
    padding: 6px;
    background-color: #308f39;
    color: #fff;
    border: solid #308f39;
    border-radius: 4px;
    font-size: 22px;
    cursor: pointer;
}

button:hover {
    background-color:#fff;
    color:#308f39;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}
